body{
    background-color:bisque;
    
}
header{
    text-align: center;
    background-color: rgba(95, 158, 160, 0.49);
    /*width: 100%;*/
    margin-top: 10px;
    margin: 10px 25px;
    padding: 5px 10px;
}
.isim{
    color: chocolate;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    

}

nav:hover {
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
    
}

.profil-foto:hover{
    box-shadow: 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.1);
}
.left-items{ border: 20px;
    margin-left: 20px;
   
}
.right-items{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    
    
    
}
.profil-foto{
    border-radius: 5px;
}
.right-items a{
    margin-left: 10px;
    text-decoration:none;
    font-size: 20px;
    font-weight: bolder;
    

    
    

}
nav a:hover {
   /*  background-color: rgba(0, 76, 255, 0.573); */
    border-radius: 5px;
    transform: scale(1.3);
    color: brown;
    border-width: 2px;
    border: solid 2px;
    background-color: white;
    
    
    

}

.container{
    display: flex;


}
aside{
    position: relative;
    margin-top: 40px;
    margin-right: 15px;
}
aside:hover{
    
}
.boydan-foto{
    border-radius: 10px;
    
}



.web3{
    color: chocolate;
}

.icerik{
    margin-left: 20px;
    margin-right: 20px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 130px;
}
    

.area{
    background-color:darkcyan;
    background: linear-gradient(to bottom, darkcyan, rgba(133, 48, 65, 0)); 
    text-align: center;
    margin: 15px;
    object-fit: cover;
    border-radius: 50px;
    padding-top: 20px;
    flex-grow: 1;   
    flex-shrink: 1;   
    flex-basis: 0;    
    margin: 10px;
    
   
}
.area:hover{
    box-shadow: 8px 8px 8px 8px  rgba(0,0,0,0.2);
    transform: scale(1.1);

}

.card-img{
    border-radius: 15px;

}
.name{
font-size:  50px;
text-align: center;
}

.icerik{
    font-size: 20px;
}
.lorem{
    color: rgb(227, 11, 11);
    
}
form{
    background-color:azure;
}
footer{
    display: flex;
    margin: 50px;
    justify-content:flex-end;
    font-size: 25px;
    background-color: darkgray;
    border-radius: 10px;
    

}
footer a{
    text-decoration: none;
    
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: inherit; 

}

footer:hover{
    box-shadow: 8px 8px 8px 8px  rgba(0,0,0,0.2);
    

}

footer a:hover{
    transform: scale(1.2);
    
}

footer a img{ 
      /* width: 50px; */ 
      margin-right:10px
      justify-content: flex-end;
      


    }


form{
    display: flex;
    border-radius: 20px;
    margin: 50px;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: larger;

    
}

.form-icerigi{
    justify-content: center;
    padding: 30px;
    background-color: aqua;
    border-radius: 20px;


}

.form-icerigi:hover {
    box-shadow: 8px 8px 8px 8px  rgba(0,0,0,0.2);
    transform: scale(1.5);



}

input{
    border-radius: 10px;
    box-shadow: 08px 8px 8px 8px rgba(0,0,0,0.1);
    outline: none;
    border: 2px solid #4CAF50;
}
button{
    border-radius: 10px;
    box-shadow: 08px 8px 8px 8px rgba(0,0,0,0.1);
    outline: none;
    border: 2px solid #4CAF50;
    font-weight: bolder;
    margin-top: 20px;
}







