body{
    background-color:bisque;
    
}
header{
    text-align: center;
    background-color: rgba(95, 158, 160, 0.49);
    /*width: 100%;*/
    margin-top: 10px;
   margin-bottom: 15px;
    padding: 5px 10px;
    border-radius: 15px;
}
.isim{
    color: chocolate;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    
}

nav:hover {
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
    
}

.profil-foto:hover{
    box-shadow: 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.1);
}
.left-items{ border: 20px;
    margin-left: 20px;
   
}
.right-items{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    
    
    
}
.profil-foto{
    border-radius: 5px;
}
.right-items a{
    margin-left: 10px;
    text-decoration:none;
    font-size: 20px;
    font-weight: bolder;
    

    
    

}
nav a:hover {
   /*  background-color: rgba(0, 76, 255, 0.573); */
    border-radius: 5px;
    transform: scale(1.3);
    color: brown;
    border-width: 2px;
    border: solid 2px;
    background-color: white;
    
    
    

}

.container{
    display: flex;
    



}
aside{
    position: relative;
    margin-top: 150px;
    margin-right: 15px;
    border-left: solid 2px grey;
    padding-left: 20px;
}

.boydan-foto{
    border-radius: 10px;
    
}



.web3{
    color: chocolate;
}
.baslik-vurgu{
    font-size: 50px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*text-decoration-line: underline;*/
    text-align: justify;
    
}
.kutu-icerik{
    
    
}

.icerik{
    margin-left: 20px;
    margin-right:20px;
    /* border-right: solid 2px grey;
    padding-right: 15px; */
    
}
.yazi-vurgu{
    font-style: italic;
    font-weight: bold;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 130px;
    flex-wrap: wrap;
}
    

.area{
    background-color:darkcyan;
    background: linear-gradient(to bottom, darkcyan, rgba(133, 48, 65, 0)); 
    text-align: center;
    margin: 15px;
    object-fit: fill;
    border-radius: 50px;
    padding-top: 20px;
    flex-grow: 1;   
    flex-shrink: ;   
    flex-basis: 0;    
    margin: 10px;
    
    
    
   
}
.area:hover{
    box-shadow: 8px 8px 8px 8px  rgba(0,0,0,0.2);
    transform: scale(1.1);

}

.card-img{
    border-radius: 15px;

}
.name{
font-size:  50px;
text-align: center;
}

.icerik{
    font-size: 20px;
}
.lorem{
    color: rgb(227, 11, 11);
    
}


footer a{
    text-decoration: none;
    display: flex; 
    color: inherit; 

}

footer{
    display: flex ;
    margin: 50px;
    font-size: 25px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:end;
    background-color: aliceblue;

    

}

.sosyal-media-yazi{
    justify-content: flex-start;
     font-size: 15px;
     font-weight: bold;
     margin-left: 20px;
     color: rgb(149, 138, 138)

}

.sosyal-media{
    display: flex;
    margin-right: 20px;
    margin-bottom: 10px;
    align-items: baseline;
    
}







footer a:hover{
    transform: scale(1.2);
    
    
}




form{
    display: flex;
    border-radius: 20px;
    margin: 50px;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: larger;

    
}

.form-icerigi{
    justify-content: center;
    padding: 30px;
    background-color: white;
    border-radius: 20px;


}

.form-icerigi:hover {
    box-shadow: 8px 8px 8px 8px  rgba(0,0,0,0.2);
    transform: scale(1.5);
    



}

input{
    border-radius: 10px;
    box-shadow: 08px 8px 8px 8px rgba(0,0,0,0.1);
    outline: none;
    border: 2px solid #4CAF50;
    
}

input:hover{
    transform: scale(1.2);

}

button{
    border-radius: 10px;
    box-shadow: 08px 8px 8px 8px rgba(0,0,0,0.1);
    outline: none;
    border: 2px solid #4CAF50;
    font-weight: bolder;
    margin-top: 20px;
}

button:hover{
    transform: scale(1.2);
}

.copyright{
    border-top: solid 2px grey;
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    

}

..copyright a{
    padding-top: 20px;
}






