body{
    background-color:bisque;
    
}
header{
    text-align: center;
    background-color: rgba(95, 158, 160, 0.49);
    /*width: 100%;*/
    margin-top: 10px;
    margin: 10px 25px;
    padding: 5px 10px;
}
.isim{
    color: chocolate;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:  solid;
    padding: 10px;

}
.left-items{

}
.right-items{
    display: flex;
    justify-content: space-between;
    
    
    
}
.right-items a{
    margin-left: 10px;
    text-decoration:none;
    font-size: 20px;
}
a:hover{
    background-color: rgba(0, 76, 255, 0.573);
    

}

.container{
    display: flex;


}
aside{
    border: solid 1px;
    margin-top: 20px;
    
}

.web3{
    color: chocolate;
}
#card{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
    
    
}
.area{
    background: linear-gradient(to bottom, #49d312, rgba(133, 48, 65, 0));
    background-color: chocolate;
    margin: 50px;
    padding-top: 1.3%;
    text-align:center;
    align-items: stretch;

   
}
.name{
font-size:  50px;
text-align: center;
}

.icerik{
    font-size: 20px;
}
.lorem{
    color: rgb(227, 11, 11);
    
}
form{
    background-color:azure;
}
footer{
    display: flex;
    margin: 50px;
    justify-content: flex-end;
    font-size: 25px;

}